In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('SMSSpamCollection',sep='\t',names=['label','text'])
print("Total number of messages: ",len(df))
df.head(5)

Total number of messages:  5572

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Label Encoding

In [3]:
def encode(text):
    if text == 'spam':
        return 1
    elif text == 'ham':
        return 0
df['label'] = df['label'].apply(encode)

In [ ]:
df.to_csv('raw_data.csv', index=False)

In [7]:
print("Raw data shape" , df.shape)
df.head(5)

Raw data shape (5572, 2)

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

# Train/Validation/Test Split

In [ ]:
train_df, temp_df = train_test_split(
    df, test_size=0.30, random_state=7, stratify=df["label"]
)

val_df, test_df = train_test_split(
    temp_df, test_size=0.50, random_state=7, stratify=temp_df["label"]
)

print(train_df.shape, val_df.shape, test_df.shape)

(3900, 2) (836, 2) (836, 2)

In [9]:
print("Train distribution:")
print(train_df.value_counts("label", normalize=True))

print("\nValidation distribution:")
print(val_df.value_counts("label", normalize=True))

print("\nTest distribution:")
print(test_df.value_counts("label", normalize=True))

Train distribution:
label
0    0.865897
1    0.134103
Name: proportion, dtype: float64

Validation distribution:
label
0    0.866029
1    0.133971
Name: proportion, dtype: float64

Test distribution:
label
0    0.866029
1    0.133971
Name: proportion, dtype: float64

# Storing the splits as train.csv/validation.csv/test.csv

In [10]:
train_df.to_csv("train.csv", index=False)
val_df.to_csv("validate.csv", index=False)
test_df.to_csv("test.csv", index=False)